<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="register-login_panel_background">
        <div class="register-login_panel_container">  	
            <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form>
                        <label class="register-login_page_label" for="chk" aria-hidden="true">Sign up</label>
                        <input class="register-login_page_input" type="text" name="txt" placeholder="User name" required="">
                        <!-- <input type="email" name="email" placeholder="Email" required=""> -->
                        <input class="register-login_page_input" type="password" name="pswd" placeholder="Password" required="">
                        <button id="add_photo_btn">Add Photo</button>
                        <button class="signup_login_btn">Sign up</button>
                    </form>
                </div>

                <div class="login">
                    <form>
                        <label class="register-login_page_label" for="chk" aria-hidden="true">Login</label>
                        <input class="register-login_page_input" type="Username" name="Username" placeholder="Username" required="">
                        <input class="register-login_page_input" type="password" name="pswd" placeholder="Password" required="">
                        <button class="signup_login_btn">Login</button>
                    </form>
                </div>
        </div>
    </div>
</body>
</html>